@font-face {
    font-family: 'Lato', sans-serif;
    src: url('/assets/Lato-Bold') format('truetype');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('/assets/Lato-Regular') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 0px;
    font-weight: 400;
    color: white;
}

header .container {
    font-size: 12px;
    overflow: hidden;
    background-color: #2d303a;
    width: 100%;
    height: 89px;
}

div .logo {
    width: 40%;
    float: left;
}

li {
    display: inline-block;
    list-style: circle;
    margin-top: 20px;
    padding: 10.2px 13px;
}

span {
    color: red;
}

a {
    color: white;
    text-decoration: none;
}

li:last-child {
    margin-right: 28px;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1020px;
    padding: 0;
    margin: 0 auto;
}

.logo h1 {
    margin-left: 40px;
    margin-top: 30px;
}

nav {
    /* vertical-align: top; */
    float: right;
    /* display: flex; */
    /* height: 70px; */
    /* width: 500px; */
    /* vertical-align: top; */
}

main .container {
    height: 593px;
    background-color: #f06c64;
}

.iphone1 {
    position: absolute;
    z-index: 1;
    bottom: 37.5%;
    left: 27%;
}

.iphone2 {
    /* margin-left: 150px; */
    /* padding: 20px; */
    position: absolute;
    z-index: 10;
    top: 145px;
    left: 948px;
    transform: rotate(90deg);
}

.shadow1 {
    position: absolute;
    bottom: 340px;
    left: 515px;
}

.shadow2 {
    position: absolute;
    bottom: 462px;
    left: 828px;
}

.wallpaperhorizon {
    position: absolute;
    left: 514px;
    top: 77px;
    z-index: 9999999;
}

.wallpapervertical {
    position: absolute;
    left: 762px;
    top: 162px;
    z-index: 9999999;
}

.btn_left {
    position: absolute;
    top: 375px;
    left: 485px;
    margin: 0;
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    background: url('assets/chev.png') no-repeat;
}

.btn_right {
    position: absolute;
    top: 375px;
    right: 480px;
    margin: 0;
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
    background: url('assets/chev.png') no-repeat;
}

.btn_right:hover {
    background-size: 1.2em 90%;
}

.btn_left:hover {
    background-size: 1.225em 90%;
}

footer .container {
    margin-top: 0;
    font-size: 15px;
    height: 495px;
    color: #666d89;
    background-color: #f2f2f2;
}

.services {
    width: 95%;
    position: relative;
    top: 30px;
    left: 30px;
    padding: 10px;
}

.services p {
    line-height: 28px;
    font-size: 18px;
    font-weight: 200;
}

.colums {
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: break-all;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    text-align: justify;
    padding-top: 20px;
    line-height: 22px;
}

h2 {
    margin: 0;
    font-style: bold;
    font-size: 18px;
}

div.colums.item1 {
    position: relative;
    left: -28px;
    top: 12px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item1 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 2px;
    top: -5px;
}

.colums.item1 h2 {
    margin: 0;
    position: relative;
    left: -48px;
    top: -5px;
}

figure.pen {
    position: relative;
    top: 13px;
}

figure.bulb {
    margin: 0;
    position: relative;
    top: 30px;
    left: -12px;
}

div.colums.item2 {
    position: relative;
    top: 5px;
    left: -50px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item2 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 50px;
}

figure.heart {
    margin: 0;
    position: relative;
    top: 30px;
    right: -15px;
}

div.colums.item3 {
    position: relative;
    left: -25px;
    top: 6px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item3 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 54px;
}

.colums.item3 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 20px;
}

figure.phone {
    margin: 0;
    position: relative;
    left: -89.8%;
    top: 150px;
}

div.colums.item4 {
    position: relative;
    left: 98px;
    top: 3px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item4 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: -35px;
    top: 5px;
}

figure.bubble {
    margin: 0;
    position: relative;
    top: 32px;
    right: -70px;
}

div.colums.item5 {
    position: relative;
    left: 40px;
    top: 5px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item5 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: -53px;
    top: 5px;
}

figure.star {
    margin: 0;
    position: relative;
    top: 32px;
    right: -15px;
}

div.colums.item6 {
    position: relative;
    left: -60px;
    top: 8px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item6 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 45px;
}

.colums.item6 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: -5px;
}