        @font-face {
            font-family: 'Lato', sans-serif;
            src: url('/assets/Lato-Bold') format('truetype');
            font-weight: 900;
        }
        
        @font-face {
            font-family: 'Lato', sans-serif;
            src: url('/assets/Lato-Regular') format('truetype');
            font-style: normal;
            font-weight: normal;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            font-size: 0px;
            font-weight: 400;
        }
        
        .container {
            width: 100%;
            height: 100%;
            max-width: 1020px;
            padding: 20px;
            margin: 0 auto;
        }
        
        .portfolio .container {
            width: 1020px;
            height: 870px;
            background-color: #2d303a;
        }
        
        a {
            color: #666d89;
            text-decoration-line: none;
        }
        
        .portfolio_header h1 {
            font-size: 30px;
            line-height: 18px;
            color: #666d89;
            font-family: "Lato";
            font-weight: 900;
            text-align: left;
        }
        
        .portfolio_header p {
            width: 940px;
            height: 57px;
            font-size: 18px;
            line-height: 30px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 300;
            text-align: left;
        }
        
        .cards_filter {
            font-size: 12px;
            line-height: 22px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 400;
        }
        
        .cards_filter span {
            padding: 5px;
            width: 57px;
            height: 22px;
            border-radius: 5px;
            background-color: transparent;
            border: 1px solid #666d89;
        }
        
        .cards_collection {
            display: grid;
            grid-column-gap: 55px;
            grid-row-gap: -50px;
            grid-template-columns: 187px 187px 187px 187px;
            grid-template-rows: 220px 220px 220px 220px;
        }