        @font-face {
            font-family: 'Lato', sans-serif;
            src: url('/assets/Lato-Bold.ttf') format('truetype');
            font-weight: 900;
        }
        
        @font-face {
            font-family: 'Lato', sans-serif;
            src: url('/assets/Lato-Regular.ttf') format('truetype');
            font-style: normal;
            font-weight: normal;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            font-size: 0px;
            font-weight: 400;
            text-align: justify;
        }
        
        .container {
            width: 100%;
            height: 100%;
            max-width: 1020px;
            padding: 0;
            margin: 0 auto;
        }
        
        .portfolio .container {
            width: 1020px;
            height: 864px;
            background-color: #2d303a;
        }
        
        a {
            color: #666d89;
            text-decoration-line: none;
        }
        
        .portfolio__header h1 {
            padding: 70px 40px;
            padding-bottom: 0;
            font-size: 30px;
            line-height: 18px;
            color: #666d89;
            font-family: "Lato";
            font-weight: bold;
            text-align: left;
            letter-spacing: 0.5px;
        }
        
        .portfolio__header p {
            padding: 26px 40px;
            padding-bottom: 0;
            width: 940px;
            font-size: 18px;
            line-height: 30px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 300;
            text-align: left;
            letter-spacing: 0.5px;
        }
        
        .cards-filter {
            padding: 10px 41px;
            padding-bottom: 3px;
            font-size: 12px;
            line-height: 22px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 400;
        }
        
        .cards-filter span {
            margin: 4px;
            padding: 4px 4.8px;
            width: auto;
            font-weight: 500;
            height: 22px;
            border-radius: 5px;
            background-color: transparent;
            border: 1px solid #666d89;
        }
        
        .cards-filter a:hover,
        .cards-filter span:hover {
            color: white;
            border-color: white;
        }
        
        .cards-filter span:first-of-type {
            position: relative;
            left: -3px;
            top: 0px;
        }
        
        .cards-collection {
            display: grid;
            grid-column-gap: 53px;
            grid-row-gap: 7px;
            grid-template-columns: 187px 187px 187px 187px;
            grid-template-rows: 200px 200px 200px 200px;
            padding: 16px 40px;
        }
        
        .cards-collection figure:nth-child(n+13) {
            display: none;
        }
        
        .bottom-line {
            padding: 0;
            margin: 0 auto;
            width: 1020px;
            height: 6px;
            background-color: #323746;
        }
        
        .about-us .container {
            width: 1020px;
            height: 728px;
            background-color: #f2f2f2;
            text-align: justify;
        }
        
        .about-us__person {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: 300px 80px 100px;
            padding: 41px 38px;
        }
        
        .about-us__header h1 {
            padding: 70px 41px;
            padding-bottom: 0;
            font-size: 30px;
            line-height: 18px;
            color: #666d89;
            font-family: "Lato";
            font-weight: bold;
        }
        
        .about-us__header p {
            padding: 26px 40px;
            padding-right: 0;
            padding-bottom: 0;
            width: 940px;
            /* height: 37px; */
            font-size: 18px;
            line-height: 30px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 300;
        }
        
        .about-us__person h3 {
            font-size: 18px;
            line-height: 18px;
            color: #666d89;
            font-family: "Lato";
            font-weight: 900;
            text-align: left;
            padding: 18px 1px;
            padding-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .about-us__person p {
            width: 300px;
            height: 50px;
            font-size: 12px;
            line-height: 22px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 400;
            text-align: left;
            padding: 8px 2px;
        }
        
        .about-us__links {
            padding: 92px 2px;
        }
        
        .about-us__links a {
            margin-right: 5px
        }
        
        .about-us .bottom-line {
            background-color: #ffffff;
        }
        
        .about-us__links a:hover {
            filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
   