/*reset css*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    color: black;
    background: white;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}


/*end of reset css*/

@font-face {
    font-family: "Lato", sans-serif;
    src: url("/assets/Lato-Bold") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("/assets/Lato-Regular") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("/assets/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

header .container {
    height: 89px;
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    overflow: hidden;
    background-color: #2d303a;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-top: 44px;
    margin-left: 40px;
    letter-spacing: -0.5px;
}

.header__logo p {
    position: relative;
    left: 106px;
    bottom: 7px;
    color: #f06c64;
}

.header__menu {
    margin-right: 14px;
    font-size: 12px;
}

.header__menu li {
    display: inline-block;
    padding-top: 47px;
    padding-right: 24px;
    letter-spacing: -0.02px;
}

.header__menu li:not(:last-child)::after {
    content: "";
    display: inline-block;
    position: relative;
    left: 15px;
    bottom: 3px;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    margin: 0;
    background-color: #767e9e;
}

.header__menu a {
    color: white;
    text-decoration: none;
}

.header__menu a:hover {
    color: #f06c64;
}

.container {
    width: 100%;
    max-width: 1020px;
    padding: 0;
    margin: 0 auto;
}

.slider .container {
    position: relative;
    height: 593px;
    background-color: #f06c64;
}

.both-iphones {
    padding: 0 60px;
    display: flex;
}

.both-iphones__portrait {
    width: 300px;
}

.both-iphones__landscape {
    width: 600px;
}

.portrait__frame {
    position: absolute;
    top: 37px;
    left: 72px;
    z-index: 2;
}

.portrait__wallpaper {
    position: absolute;
    bottom: 11px;
    left: 72px;
    z-index: 3;
}

.portrait__shadow {
    position: absolute;
    top: 37px;
    left: 72px;
    z-index: 0;
}

.landscape__frame img {
    transform: rotate(90deg);
}

.landscape__frame {
    position: absolute;
    top: 36px;
    right: 218px;
    z-index: 2;
}

.landscape__shadow {
    position: absolute;
    top: 158px;
    right: 70px;
    z-index: 0;
}

.landscape__wallpaper {
    position: absolute;
    top: 53px;
    right: 40px;
    z-index: 3;
}

.btn-arrow {
    position: absolute;
    top: 280px;
    left: 42px;
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    background: url("assets/chev.png") no-repeat;
}

.btn-arrow_upend {
    position: absolute;
    top: 280px;
    right: 40px;
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
    background: url("assets/chev.png") no-repeat;
}

.btn-arrow:hover,
.btn-arrow_upend:hover {
    background-size: 1.2em 90%;
}

.bottom-line {
    padding: 0;
    margin: 0 auto;
    width: 1020px;
    height: 6px;
}

.bottom-line_color1 {
    background-color: #323746;
}

.bottom-line_color2 {
    background-color: #ea676b;
}

.bottom-line_color3 {
    background-color: white;
}

.our-services .container {
    height: 495px;
    color: #666d89;
    background-color: #f2f2f2;
}

.our-services__header p {
    padding-top: 25px;
    padding-left: 40px;
    max-height: 60px;
    overflow: hidden;
}

.paragraph-style {
    font-size: 18px;
    line-height: 30px;
    width: 940px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
}

.paragraph-style-2 {
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
}

.header-style {
    font-size: 30px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
}

.header-style-2 {
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
}

.our-services__header h1 {
    padding-top: 72px;
    padding-left: 40px;
    letter-spacing: 0.25px;
}

.our-services__colums {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px 250px;
    grid-template-rows: 100px 100px;
    grid-auto-flow: row;
    padding-left: 120px;
    padding-top: 45px;
    text-align: justify;
}

.our-services__colums p {
    overflow: hidden;
    max-height: 66px;
}

.our-services__colums h2 {
    color: #666d89;
    word-spacing: 0.5px;
    overflow: hidden;
}

.item5__content h2 {
    word-spacing: -1.5px;
}

.our-services__colums p {
    width: 219px;
    color: #767e9e;
}

.image_position_top {
    position: relative;
    bottom: 83px;
    right: 80px;
}

.image_position_bottom {
    position: relative;
    bottom: 80px;
    right: 80px;
}

.content_position p {
    position: relative;
    top: 10px;
    left: 0;
}

.content_position_bottom p {
    position: relative;
    top: 12px;
    left: 0px;
}

.content_position_bottom h2 {
    position: relative;
    top: 4px;
    left: 0px;
}