@font-face {
    font-family: 'Lato', sans-serif;
    src: url('/assets/Lato-Bold') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('/assets/Lato-Regular') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 0px;
    font-weight: 400;
    color: white;
}

header .container {
    font-size: 12px;
    overflow: hidden;
    background-color: #2d303a;
    width: 100%;
    height: 89px;
}

div .logo {
    width: 40%;
    float: left;
}

.logo p {
    position: relative;
    top: -45px;
    left: 146px;
    display: inline-block;
    margin: 0;
    color: #f06c64;
    font-size: 25px;
}

.logo h1 {
    margin-left: 40px;
    margin-top: 31px;
}

li {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 12px;
}

li:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: relative;
    left: 15px;
    top: -3px;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    margin: 0;
    background-color: #767e9e;
}

li:last-child {
    margin-right: 28px;
}

a {
    color: white;
    ;
    text-decoration: none;
}

a:hover {
    color: #f06c64;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1020px;
    padding: 0;
    margin: 0 auto;
}

nav {
    float: right;
}

main .container {
    position: relative;
    height: 593px;
    background-color: #f06c64;
}

.iphone1 {
    position: absolute;
    z-index: 1;
    bottom: 83px;
    left: 72px;
}

.iphone2 {
    position: absolute;
    z-index: 10;
    top: 52px;
    left: 507px;
    transform: rotate(90deg);
}

.shadow1 {
    position: absolute;
    top: 52px;
    left: 72px;
}

.shadow2 {
    position: absolute;
    top: 173px;
    right: 71px;
}

.wallpapervertical {
    position: absolute;
    left: 72px;
    top: -18px;
    z-index: 9999999;
}

.wallpaperhorizon {
    position: absolute;
    right: 40px;
    top: 68px;
    z-index: 9999999;
}

.btn_left {
    position: absolute;
    top: 280px;
    left: 42px;
    margin: 0;
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    background: url('assets/chev.png') no-repeat;
}

.btn_right {
    position: absolute;
    top: 280px;
    right: 40px;
    margin: 0;
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
    background: url('assets/chev.png') no-repeat;
}

.btn_right:hover {
    background-size: 1.2em 90%;
}

.btn_left:hover {
    background-size: 1.25em 90%;
}

section .container {
    margin-top: 0;
    font-size: 15px;
    height: 495px;
    color: #666d89;
    background-color: #f2f2f2;
}

.services {
    width: 93%;
    position: relative;
    top: 31px;
    left: 30px;
    padding: 10px;
}

.services p {
    line-height: 27px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.3px;
}

.services h1 {
    font-weight: 900;
    font-size: 30.5px;
}

.colums {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    text-align: justify;
    padding-top: 20px;
    line-height: 22px;
}

h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
}

div.colums.item1 {
    position: relative;
    left: -28px;
    top: 12px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item1 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 1px;
    top: -5px;
}

.colums.item1 h2 {
    margin: 0;
    position: relative;
    left: -49px;
    top: -5px;
}

figure.pen {
    position: relative;
    top: 14px;
    left: -1px;
}

figure.bulb {
    margin: 0;
    position: relative;
    top: 30px;
    left: -13px;
}

div.colums.item2 {
    position: relative;
    top: 8px;
    left: -49px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item2 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 50px;
}

figure.heart {
    margin: 0;
    position: relative;
    top: 30px;
    right: -15px;
}

div.colums.item3 {
    position: relative;
    left: -24px;
    top: 5px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item3 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 52px;
    top: 3px;
}

.colums.item3 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 20px;
    top: 2px;
}

figure.phone {
    margin: 0;
    position: relative;
    left: -89.8%;
    top: 152px;
}

div.colums.item4 {
    position: relative;
    left: 98px;
    top: 3px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item4 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: -37px;
    top: 7px;
}

figure.bubble {
    margin: 0;
    position: relative;
    top: 32px;
    right: -69px;
}

div.colums.item5 {
    position: relative;
    left: 40px;
    top: 5px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item5 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: -53px;
    top: 5px;
}

figure.star {
    margin: 0;
    position: relative;
    top: 32px;
    right: -14px;
}

div.colums.item6 {
    position: relative;
    left: -60px;
    top: 7px;
    width: 220px;
    height: 100px;
    font-size: 12px;
}

.colums.item6 p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: 45px;
    top: 4px;
}

.colums.item6 h2 {
    margin: 0;
    padding: 0;
    line-height: 22px;
    position: relative;
    left: -4px;
    top: 4px;
}