/*reset css*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    /* color: black; */
    background: white;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}


/*end of reset css*/

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

header .wrapper {
    height: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.sticky {
    position: sticky;
    margin: 0 auto;
    min-height: 80px;
    top: 0;
    z-index: 9;
    box-sizing: border-box;
    background-color: #2d303a;
    max-width: 1020px;
}

.header__logo {
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    padding-bottom: 1.5%;
}

.header__logo span {
    color: #f06c64;
}

.header__menu li:not(:last-child)::after {
    content: "";
    display: inline-block;
    position: relative;
    left: 15px;
    bottom: 3px;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    margin: 0;
    background-color: #767e9e;
}

.header__menu {
    display: flex;
    line-height: 12px;
    font-size: 12px;
}

.menu__list {
    margin-left: 26px;
}

#menu .active {
    color: red;
}

.header__menu a {
    color: white;
    text-decoration: none;
}

.header__menu a:hover {
    color: #f06c64;
}

.wrapper {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.slider .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    transition: all ease 2s;
}

.slider .wrapper-blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #348bf0;
    background-color: #648bf0;
    transition: all ease 2s;
}

.both-iphones {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 55vh;
    max-width: 800px;
    max-height: 550px;
}

.both-iphones__trinity {
    position: absolute;
    top: 0%;
    left: 0%;
}

.trinity_image {
    width: 100%;
}

.position {
    position: absolute;
}

.next {
    position: absolute;
    top: 0%;
    left: 0%;
}

.slider {
    position: relative;
}

.hidden {
    opacity: 0;
}

.both-iphones__portrait {
    position: relative;
    width: 33%;
    height: 96.33%;
}

.both-iphones__landscape {
    position: relative;
    flex-shrink: 0;
    width: 61%;
    height: 46%;
}

.portrait__frame {
    position: absolute;
    top: 2.1%;
    right: 26%;
    z-index: 2;
    width: 82%;
}

.portrait__shadow {
    position: absolute;
    top: 2.5%;
    right: 18%;
    width: 91%;
    z-index: 0;
}

.portrait__wallpaper {
    position: absolute;
    top: 14.7%;
    right: 31%;
    width: 72%;
    z-index: 3;
    cursor: pointer;
}

.landscape__frame {
    position: absolute;
    width: 94%;
    top: 0;
    right: 0.25%;
    z-index: 2;
}

.landscape__shadow {
    position: absolute;
    top: 0;
    left: 5.8%;
    width: 99%;
    z-index: 0;
}

.landscape__wallpaper {
    display: block;
    position: absolute;
    top: 5.6%;
    left: 18%;
    width: 68.5%;
    z-index: 3;
    cursor: pointer;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.btn-arrow {
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    background: url("assets/chev.png") no-repeat;
}

.btn-arrow_upend {
    width: 16px;
    height: 27px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
    background: url("assets/chev.png") no-repeat;
}

.to-left {
    animation-name: left;
    animation-duration: 2s;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
    animation-duration: 2s;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
    animation-duration: 2s;
}

.from-right {
    animation-name: right;
    animation-duration: 2s;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.active-slide,
.next {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
}

.btn-arrow:hover,
.btn-arrow_upend:hover {
    background-size: 1.2em 90%;
}

.bottom-line {
    padding: 0;
    max-width: 1020px;
    margin: 0 auto;
    height: 6px;
}

.bottom-line_color1 {
    background-color: #323746;
}

.bottom-line_color2 {
    background-color: #ea676b;
}

.bottom-line_color3 {
    background-color: white;
}

.our-services .wrapper {
    padding-top: 60px;
    padding-bottom: 56px;
    color: #666d89;
    background-color: #f2f2f2;
}

.paragraph-style {
    font-size: 18px;
    line-height: 30px;
    max-width: 940px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.paragraph-style-2 {
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.header-style {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    padding-bottom: 18px;
}

.header-style-2 {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.header-style-3 {
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    background-color: #2d303a;
    z-index: 5;
}

.our-services__colums {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    padding-top: 42px;
    text-align: justify;
}

.colums__item {
    position: relative;
    padding-left: 80px;
    box-sizing: border-box;
}

.our-services__colums p {
    overflow: hidden;
    max-height: 66px;
    width: 100%;
    color: #767e9e;
}

.our-services__colums h2 {
    color: #666d89;
    word-spacing: 0.5px;
    overflow: hidden;
}

.item5__content h2 {
    word-spacing: -0.5px;
}

.image_position_top {
    position: absolute;
    top: 2%;
    left: 0;
}

.image_position_bottom {
    position: absolute;
    top: 6%;
    left: 0;
}

.content_position p {
    position: relative;
    top: 6px;
    left: 0;
}

.content_position_bottom p {
    position: relative;
    top: 12px;
    left: 0px;
}

.content_position_bottom h2 {
    position: relative;
    top: 3px;
    left: 0px;
}

.portfolio .wrapper {
    padding-top: 60px;
    padding-bottom: 68px;
    color: #666d89;
    background-color: #2d303a;
}

.cards-filter a {
    color: #666d89;
    text-decoration-line: none;
}

.cards-filter {
    display: flex;
    padding-top: 4px;
    color: #767e9e;
}

.cards-filter span {
    margin: 6px 4.5px;
    padding: 1px 6px;
    line-height: 18px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #666d89;
}

.cards-filter a:hover,
.cards-filter span:hover {
    color: white;
    border-color: white;
}

.cards-filter span:first-of-type {
    position: relative;
    right: 3px;
    top: 0px;
}

.cards-collection {
    display: grid;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 15px;
}

.cards-collection img:nth-child(n+13) {
    display: none;
}

.cards-collection img {
    width: 100%;
}

.border {
    outline: 5px solid #f06c64;
    outline-offset: -5px;
}

.about-us .wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
    text-align: justify;
}

.about-us__header h1 {
    color: #666d89;
}

.about-us__header p {
    max-width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.about-us__person {
    display: grid;
    justify-content: stretch;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 44px;
}

.about-us__person h3 {
    padding-top: 12px;
    color: #666d89;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-us__person p {
    padding-top: 6px;
    max-width: 300px;
    color: #767e9e;
}

.about-us__person img {
    width: 100%;
}

.person__scolara h3 {
    word-spacing: 1px;
    letter-spacing: 0.1px;
}

.person__links {
    padding-top: 22px;
    padding-right: 2px;
}

.person__links img {
    width: 12%;
}

.person__links a:hover {
    filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
}

.get-a-quote .wrapper {
    padding-top: 60px;
    background-color: #f06c64;
    color: #f0d8d9;
}

.get-a-quote__header p {
    letter-spacing: 0.5px;
    text-align: justify;
    color: #f0d8d9;
}

.get-a-quote__form {
    display: flex;
    padding-top: 42px;
}

#quote-form,
input[type="text"],
input[type="email"] {
    width: 100%;
    flex: 1 0 65.8%;
    box-sizing: border-box;
}

input {
    margin-bottom: 16px;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #d6564f;
}

input::placeholder {
    padding-left: 15px;
    font-size: 12px;
    color: #f48c8f;
    line-height: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
}

textarea {
    width: 100%;
    height: 182px;
    border-radius: 5px;
    border: transparent;
    background-color: #d6564f;
    resize: none;
    padding: 0 !important;
}

textarea::placeholder {
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #f48c8f;
}

.sidebar {
    display: flex;
    flex-flow: column;
    color: #f0d8d9;
}

.sidebar__contact-information {
    padding-left: 20px;
}

.sidebar__list {
    padding-top: 20px;
    padding-left: 38px;
}

.sidebar__contact-information p {
    padding-top: 6px;
    text-align: justify;
    word-spacing: -2px;
}

.sidebar__contact-information h2 {
    color: #f0d8d9;
    letter-spacing: 0.2px;
}

.sidebar__list a {
    text-decoration-line: none;
    color: #f0d8d9;
}

.sidebar__list ul li:nth-of-type(1) {
    list-style-image: url("assets/location.svg");
    list-style-position: outside;
    padding-left: 5px;
}

.sidebar__list ul li:nth-of-type(2) {
    list-style-image: url("assets/phone-contact.svg");
    list-style-position: outside;
    padding-left: 4px;
    margin-left: 2px;
}

.sidebar__list ul li:nth-of-type(3) {
    list-style-image: url("assets/mail.svg");
    list-style-position: outside;
    padding-left: 3px;
    margin-left: 3px;
}

footer .wrapper {
    background-color: #2d303a;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    padding-top: 20px;
}

.footer__links a {
    padding-left: 2px;
}

.footer__links a:hover {
    filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
}

.footer__links a:nth-child(n+1) {
    margin-left: -1px;
}

.copyrights {
    padding: 26px 4px;
    width: 100px;
    color: #666d89;
    word-spacing: -1px;
}

.submit-button input {
    margin-top: 14px;
    width: 50px;
    color: #f0d8d9;
    opacity: 70%;
    background-color: #2d303a;
}

#message-block .wrapper {
    width: 300px;
    height: 300px;
}

#message {
    position: fixed;
    left: 42%;
    top: 50%;
    padding: 40px;
    border: 2px solid black;
    text-align: center;
    z-index: 99;
    color: #666d89;
    background: #f0d8d9;
}

@media only screen and (max-width: 1019px) {
    .menu__list {
        margin-left: 27px;
        padding-bottom: 5px;
    }
    .header__menu {
        display: flex;
        line-height: 12px;
        font-size: 12px;
    }
    .arrow-right {
        position: relative;
    }
    .arrow-left {
        position: relative;
    }
    .btn-arrow_upend {
        position: absolute;
        top: -11px;
    }
    .btn-arrow {
        position: absolute;
        top: -11px;
        left: -10px;
    }
    .both-iphones__portrait {
        position: relative;
        width: 32%;
        height: 90%;
    }
    .portrait__frame {
        position: absolute;
        top: -1.66%;
        right: 26%;
        z-index: 2;
        width: 82%;
    }
    .portrait__wallpaper {
        position: absolute;
        top: 10%;
        right: 31%;
        width: 72%;
        z-index: 3;
        cursor: pointer;
    }
    .portrait__shadow {
        position: absolute;
        top: -1%;
        right: 16%;
        width: 91%;
        z-index: 0;
    }
    .landscape__frame {
        position: absolute;
        width: 92%;
        top: -6%;
        right: 1.8%;
        z-index: 2;
    }
    .landscape__shadow {
        position: absolute;
        top: -7%;
        left: 6.5%;
        width: 97%;
        z-index: 0;
    }
    .landscape__wallpaper {
        display: block;
        position: absolute;
        top: -1%;
        left: 18%;
        width: 67.5%;
        z-index: 3;
        cursor: pointer;
    }
    .our-services .wrapper {
        padding-top: 40px;
        padding-bottom: 65px;
    }
    .our-services__colums {
        display: grid;
        grid-gap: 20px;
        grid-row-gap: 42px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 100px);
        padding-top: 36px;
        text-align: justify;
    }
    .cards-collection {
        display: grid;
        justify-content: stretch;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 24px;
    }
    .about-us .wrapper {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .about-us__person {
        display: grid;
        justify-content: stretch;
        grid-gap: 16px;
        grid-row-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 38px;
    }
    .person__links {
        padding-top: 8px;
        padding-right: 0;
    }
    .person__links img {
        width: 16%;
    }
    .about-us__person h3 {
        padding-top: 6px;
    }
    .about-us__person p {
        padding-top: 2px;
    }
    .both-iphones {
        margin-top: 8%;
    }
    .slider .wrapper,
    .both-iphones {
        height: calc(100vw * 600 / 1020);
    }
    input {
        margin-bottom: 12px;
    }
    input::placeholder {
        padding-left: 8px;
    }
    .get-a-quote__form {
        display: flex;
        padding-top: 22px;
    }
    textarea {
        width: 100%;
        height: 160px;
    }
    textarea::placeholder {
        padding-left: 15px;
        font-size: 12px;
        line-height: 22px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        color: #f48c8f;
    }
    #quote-form,
    input[type="text"],
    input[type="email"] {
        width: 100%;
        flex: 1 0 64%;
        box-sizing: border-box;
    }
    .sidebar__contact-information {
        padding-left: 28px;
    }
    .sidebar__list {
        padding-top: 8px;
        padding-left: 46px;
    }
    .sidebar__contact-information p {
        padding-top: 0;
        text-align: justify;
        word-spacing: -2px;
    }
    .get-a-quote .wrapper {
        padding-top: 60px;
        padding-bottom: 22px;
    }
}

.burger-menu {
    display: none;
}

@media only screen and (max-width: 767px) {
    header .wrapper {
        justify-content: center;
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        line-height: 22px;
        font-size: 22px;
    }
    .menu__list {
        margin-bottom: 20px;
    }
    .header__menu li:not(:last-child)::after {
        content: "";
        display: none;
        position: relative;
        left: 15px;
        bottom: 3px;
        border-radius: 50%;
        height: 2px;
        width: 2px;
        margin: 0;
        background-color: #767e9e;
    }
    .burger__nav {
        display: none;
        flex-direction: column;
        align-content: stretch;
        height: 100vh;
        padding-top: 25vh;
        padding-right: 15vw;
        background-color: #2d303a;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        animation-name: hide-menu;
        animation-duration: 0.5s;
        transition: padding-top 0.4s ease-out;
    }
    .burger-active {
        display: flex;
        align-self: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.burger__nav {
        display: flex;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: 0.5s;
    }
    .menu__btn>span::before {
        content: "";
        top: -8px;
    }
    .menu__btn>span::after {
        content: "";
        top: 8px;
    }
    .burger-menu {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
        margin: 20px 20px;
        cursor: pointer;
    }
    .menu__btn {
        padding-top: 8px;
    }
    .our-services__colums {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        padding-top: 48px;
        text-align: justify;
    }
    .our-services__header p {
        max-height: unset;
    }
    .cards-collection {
        display: grid;
        justify-content: stretch;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 16px;
    }
    .about-us__person {
        display: grid;
        justify-content: stretch;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        padding-top: 44px;
    }
    .person__links img {
        width: 6%;
    }
    .get-a-quote__form {
        display: flex;
        flex-wrap: wrap;
        padding-top: 42px;
    }
    .sidebar__contact-information {
        padding: 0;
    }
    .sidebar__list {
        padding: 10px 15px;
    }
    .submit-button input {
        margin-top: 14px;
        width: 100%;
        color: #f0d8d9;
        opacity: 70%;
        background-color: #2d303a;
    }
    .get-a-quote__form {
        display: flex;
        flex-wrap: wrap;
        padding-top: 22px;
    }
}

@media only screen and (max-width: 375px) {
    .sticky {
        position: sticky;
        margin: 0 auto;
        top: 0;
        z-index: 9;
        box-sizing: border-box;
        background-color: #2d303a;
        max-width: 1020px;
    }
    .header__logo {
        position: relative;
        top: 10px;
        font-size: 1.2rem;
    }
    header .wrapper {
        height: 100%;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider .wrapper {
        display: flex;
        align-items: center;
        padding: 30px 20px;
        justify-content: space-between;
        background-color: #f06c64;
        border-bottom: 6px solid #ea676b;
        transition: all ease 2s;
    }
    .our-services__header p {
        max-height: unset;
    }
    .btn-arrow_upend {
        position: absolute;
        top: -11px;
        right: -12px;
    }
    .btn-arrow {
        position: absolute;
        top: -11px;
        right: 20px;
    }
    .wrapper {
        min-width: 320px;
        padding: 0 40px 0 32px;
    }
    .our-services .wrapper {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .cards-collection {
        display: grid;
        justify-content: stretch;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 22px;
    }
    .cards-collection img:nth-child(n+9) {
        display: none;
    }
    .our-services__colums {
        display: grid;
        grid-gap: 20px;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        padding-top: 56px;
        text-align: justify;
    }
    .portfolio .wrapper {
        padding: 42px 32px 42px 32px;
    }
    .cards-filter {
        display: flex;
        padding-top: 10px;
        color: #767e9e;
    }
    .cards-filter span {
        margin: 6px 3.5px;
        padding: 1px 6px;
        line-height: 18px;
    }
    .about-us .wrapper {
        padding: 30px 32px 36px 32px;
    }
    .about-us__person {
        display: grid;
        justify-content: stretch;
        grid-gap: 20px;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
        padding-top: 54px;
    }
    .person__links img {
        width: 11%;
    }
    .about-us__person h3 {
        padding-top: 14px;
    }
    .get-a-quote .wrapper {
        padding: 42px 32px 22px 32px;
    }
    input::placeholder {
        padding-left: 5px;
    }
    textarea::placeholder {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 12px;
        line-height: 22px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        color: #f48c8f;
    }
    .sidebar__contact-information {
        padding-left: 0;
        padding-top: 24px;
    }
    .sidebar__list {
        padding-top: 16px;
        padding-left: 14px;
    }
    .sidebar__contact-information p {
        padding-top: 0;
        text-align: justify;
        word-spacing: -2px;
    }
    .footer-flex {
        display: flex;
        justify-content: center;
    }
    .copyrights {
        display: none;
    }
}